In [1]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..')))

In [2]:
from scripts.data_handler import *

In [3]:
BND_handler = DataHandler("../data/BND_historical_data.csv")
SPY_handler = DataHandler("../data/SPY_historical_data.csv")
TSLA_handler = DataHandler("../data/TSLA_historical_data.csv")

In [4]:
BND_df = BND_handler.load_data()
SPY_df = SPY_handler.load_data()
TSLA_df = TSLA_handler.load_data()

In [5]:
BND_handler.process_data()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02 00:00:00+00:00,82.430000,82.690002,82.419998,82.650002,63.358757,2218800
2015-01-05 00:00:00+00:00,82.739998,82.919998,82.699997,82.889999,63.542713,5820100
2015-01-06 00:00:00+00:00,83.029999,83.379997,83.029999,83.129997,63.726761,3887600
2015-01-07 00:00:00+00:00,83.139999,83.279999,83.050003,83.180000,63.765064,2433400
2015-01-08 00:00:00+00:00,83.110001,83.110001,82.970001,83.050003,63.665379,1873400

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
norm_BND_df = BND_handler.normalize_data()
norm_BND_df.to_csv("../data/normalized_BND_historical_data.csv", index = False)

In [7]:
SPY_handler.process_data()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02 00:00:00+00:00,206.380005,206.880005,204.179993,205.429993,173.173737,121465900
2015-01-05 00:00:00+00:00,204.169998,204.369995,201.350006,201.720001,170.046310,169632600
2015-01-06 00:00:00+00:00,202.089996,202.720001,198.860001,199.820007,168.444641,209151400
2015-01-07 00:00:00+00:00,201.419998,202.720001,200.880005,202.309998,170.543686,125346700
2015-01-08 00:00:00+00:00,204.009995,206.160004,203.990005,205.899994,173.569977,147217800

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [8]:
norm_SPY_df = SPY_handler.normalize_data()
norm_SPY_df.to_csv("../data/normalized_SPY_historical_data.csv", index = False)

In [9]:
TSLA_handler.process_data()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02 00:00:00+00:00,14.858000,14.883333,14.217333,14.620667,14.620667,71466000
2015-01-05 00:00:00+00:00,14.303333,14.433333,13.810667,14.006000,14.006000,80527500
2015-01-06 00:00:00+00:00,14.004000,14.280000,13.614000,14.085333,14.085333,93928500
2015-01-07 00:00:00+00:00,14.223333,14.318667,13.985333,14.063333,14.063333,44526000
2015-01-08 00:00:00+00:00,14.187333,14.253333,14.000667,14.041333,14.041333,51637500

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [10]:
norm_TSLA_df = TSLA_handler.normalize_data()
norm_TSLA_df.to_csv("../data/normalized_TSLA_historical_data.csv", index = False)